@model HBM.Areas.Dashboard.ViewModels.BalanceListingModel
@{
    ViewBag.Title = "Index";
}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bilans</h4>
                <p class="card-description">
                    W tym miejscu możesz zobaczyć swój bilans wydatków i przychodów
                </p>

                <div class="row mb-3">
                    <div class="col col-lg-12">
                        <form>
                            <div class="input-group">
                                <h5>Wyświetl bilans z okresu czasu: </h5>
                                <input type="date" class="form-control" name="SearchTermStart" value="">@Model.SearchTermStart
                                <input type="date" class="form-control" name="SearchTermEnd" value="">@Model.SearchTermEnd
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit"><i class="mdi mdi-magnify"></i>Szukaj</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Rozkład Twoich wydatków oraz przychodów</h4>
                                
                                    <div class="row justify-content-md-center">
                                        <img src="@Url.Action("CharterBar", Model)" alt="Chart" />
                                        <div class="col-4">
                                            <h4 class="card-title justify-content-center"><span class="btn btn-gradient-success">Twoje przychody: &emsp; @Model.Incomes </span></h4>
                                            <h4 class="card-title justify-content-center"><span class="btn btn-gradient-danger">Twoje wydatki: &emsp; @Model.Expenses </span></h4>
                                            <h4 class="card-title justify-content-center"><span class="btn btn-gradient-info">W tym wydatki na karcie kredytowej: &emsp; @Model.DebtCardRemaning </span></h4>
                                        </div>

                                    </div>
                                
                            </div>                         
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

                <!-- Modal -->
                <div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    </div>
                </div>
                <script>
                    $(".data-btn").click(function () {
                        $.ajax({
                            url: $(this).attr("data-href"),
                        })
                            .done(function (response) {
                                $("#actionModal .modal-dialog").html(response);
                            })
                    });
                </script>
