@model HBM.Areas.Dashboard.ViewModels.KindOfExpensesListingModel
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Kategorie</h2>
            <h5 class="card-description">
                W tym miejscu możesz dodawać, usuwać, eytować, a także przeglądać Twoje kategorie wydatków i przychodów.
            </h5>
            <form>
                <div class="input-group">
                    <input type="text" name="searchterm" class="form-control" placeholder="Tu wpisz szukaną frazę..." value="@Model.SearchTerm">
                    @if (Model.Kinds != null && Model.Kinds.Count() > 0)
                    {
                        <select name="Name" class="form-control">
                            <option value="0">Wybierz typ elementu</option>
                            @foreach (var kinds in Model.Kinds)
                            {
                                <option value="@kinds.ID" @(kinds.ID == Model.KindsID ? "selected" : String.Empty)>
                                    @kinds.Name
                                </option>
                            }
                        </select>
                    }
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"><i class="mdi mdi-magnify"></i>Szukaj</button>
                        <div class="col"></div>
                        <button data-href="@Url.Action("Action", "KindOfExpenses")" class="data-btn btn btn-outline-primary" type="button" data-toggle="modal" data-target="#actionModal">Create</button>
                        <a class="btn btn-outline-primary" href="@Url.Action("Index", "KindOfExpenses")">Reset</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                @{ Html.RenderPartial("_Listing", Model);}
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            })
    });
</script>