@model HBM.Areas.Dashboard.ViewModels.TransactionListingModel

@if (Model != null && Model.Transactions != null && Model.Transactions.Count() > 0)
{
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align: center;">
                <th class="th-sm"><b> Typ</b></th>
                <th class="th-sm"><b> Kategoria</b></th>
                <th class="th-sm"><b> Nazwa transakcji</b></th>
                <th class="th-sm"><b> Kwota</b></th>
                <th class="th-sm"><b> Miejsce transakcji</b></th>
                <th class="th-sm"><b> Data</b></th>
                <th class="th-sm"><b> Forma przepływu</b></th>
                <th class="th-sm"><b> Akcje </b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactions in Model.Transactions)
            {
            <tr style="text-align: center;">
                <td>
                    @if (transactions.Budgets != null)
                    {
                        @transactions.Budgets.KBudgets.Name//sprawdzic czy w HMS jest wartosc w listingu
                    }
                <td>
                    @if (transactions.Budgets != null)
                    {
                        @transactions.Budgets.Name//sprawdzic czy w HMS jest wartosc w listingu
                    }
                </td>
                <td>
                    @transactions.TransactionName
                </td>
                <td>
                    @transactions.Price PLN
                </td>
                <td>
                    @transactions.Place
                </td>
                <td>
                    @transactions.Date.ToShortDateString()
                </td>
                <td>
                    @transactions.BudgetsName
                </td>
                <td>
                    @if (Model.Budgets != null)
                    {
                            if (Model.BudgetsName == "Przychód")
                            {
                        <button data-href="@Url.Action("ActionIncome", "Transactions", new { ID = transactions.ID })" type="button" class="data-btn btn btn-gradient-success btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Edytuj</button>
                            }
                            else 
                            {
                     <button data-href="@Url.Action("ActionExpense", "Transactions", new { ID = transactions.ID})" type="button" class="data-btn btn btn-gradient-success btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Edytuj</button>
                            }
                   
                    }
                    
                    <button data-href="@Url.Action("Delete", "Transactions", new { ID = transactions.ID})" type="button" class="data-btn btn btn-gradient-danger btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Usuń</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Transactions")">
                            <i class="mdi mdi-chevron-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Transactions", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, budgetsID = Model.BudgetsID })">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Transactions", new { page = page, searchTerm = Model.SearchTerm, budgetsID = Model.BudgetsID })">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Transactions", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm, budgetsID = Model.BudgetsID })">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Transactions", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm, budgetsID = Model.BudgetsID })">
                            <i class="mdi mdi-chevron-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }

}

else
{
    <div class="alert alert-danger" role="alert">
        Brak danych w tabeli!
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#checkBox').change(function () {
            if ($(this).is(':checked')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Debts")',
                    type: "post",
                    data: $("#actionForm").serialize()
                })
                    .done(function (response) {
                        if (response.Success) {
                            location.reload();
                        }
                        else {
                            $(".errorDiv").html(response.Message)
                        }
                    })
            }
        })});
</script>
