@model HBM.Areas.Dashboard.ViewModels.SavingsActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID > 0)
                {
                    <span>Edycja oszczędności</span>
                }
                else
                {
                    <span>Dodawanie oszczędności</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    <label>Typ oszczędności</label>
                    <textarea class="form-control" name="Type" placeholder="Wpisz typ oszczędności">@Model.Type</textarea>
                </div>
                <div class="form-group">
                    <label>Nazwa oszczędności</label>
                    <textarea class="form-control" name="Name" placeholder="Wpisz nazwę oszczędności">@Model.Name</textarea>
                </div>
                <div class="form-group">
                    <label>Kwota oszczędności</label>
                    <textarea class="form-control" name="Price" placeholder="Wpisz kwotę oszczędności">@Model.Price</textarea>
                    <select name="Currency" class="form-control">
                        <option value="zł">
                            Wybierz walutę
                        </option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="CHF">CHF</option>
                    @foreach (var currency in Model.Currencies)
                {
                   <option value="@currency.Name">@currency.Name </option>
                }
                    </select>
                </div>
                <div class="form-group">
                    <label>Data</label>
                    <textarea class="form-control" name="DateEnd" placeholder="Wybierz datę">@Model.DateEnd.ToShortDateString()</textarea>
                </div>
            </form>
            <div class="errorDiv">
            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-gradient-primary mr-2"><i class="mdi mdi-content-save"></i>Zapisz</button>
            <button type="button" class="btn btn-light" data-dismiss="modal"><i class="mdi mdi-close-circle"></i>Wyjdź</button>
        </div>
    </div>
}
<script>
    $("#actionButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "Savings")',
            type: "post",
            data: $("#actionForm").serialize()
        })
            .done(function (response) {
                if (response.Success) {
                    location.reload();
                }
                else {
                    $(".errorDiv").html(response.Message)
                }
            })
    });
</script>




