@model HBM.Areas.Dashboard.ViewModels.BudgetListingModel

@if (Model != null && Model.Budgets != null && Model.Budgets.Count() > 0)
{
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align: center;">
                <th class="th-sm"><b> Typ</b></th>
                <th class="th-sm"><b> Nazwa kategorii</b></th>
                <th class="th-sm"><b> Akcje </b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budgets in Model.Budgets)
            {
                <tr style="text-align: center;">
                    <td>
                        @if (budgets.KBudgets != null)
                        {
                            @budgets.KBudgets.Name //sprawdzic czy w HMS jest wartosc w listingu
                        }
                    <td>
                        @budgets.Name
                    </td>
                    <td>
                        <button data-href="@Url.Action("Action", "Budget", new { ID = budgets.ID})" type="button" class="data-btn btn btn-gradient-success btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Edytuj</button>
                        <button data-href="@Url.Action("Delete", "Budget", new { ID = budgets.ID})" type="button" class="data-btn btn btn-gradient-danger btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Budget")">
                            <i class="mdi mdi-chevron-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Budget", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, kBudgetID = Model.KBudgetID })">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Budget", new { page = page, searchTerm = Model.SearchTerm, kBudgetID = Model.KBudgetID })">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Budget", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm, kBudgetID = Model.KBudgetID })">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Budget", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm, kBudgetID = Model.KBudgetID })">
                            <i class="mdi mdi-chevron-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }

}

else
{
    <div class="alert alert-danger" role="alert">
        Brak danych w tabeli!
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#checkBox').change(function () {
            if ($(this).is(':checked')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Debts")',
                    type: "post",
                    data: $("#actionForm").serialize()
                })
                    .done(function (response) {
                        if (response.Success) {
                            location.reload();
                        }
                        else {
                            $(".errorDiv").html(response.Message)
                        }
                    })
            }
        })});
</script>
