@using HBM.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Areas/Dashboard/Content/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Areas/Dashboard/Content/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Areas/Dashboard/Content/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Areas/Dashboard/Content/images/favicon.png" />
</head>
<body>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="brand-logo">
                        <img src="~/Areas/Dashboard/Content/images/LogoCalee.svg">
                    </div>
                    <h4>Witaj!</h4>
                    <h6 class="font-weight-light">Zaloguj się, aby kontynuować...</h6>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zaloguj" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register")
                    </p>
                    @* Włącz ten element po włączeniu potwierdzenia konta dla funkcji resetowania hasła
                        <p>
                            @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="~/Areas/Dashboard/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Areas/Dashboard/Content/js/off-canvas.js"></script>
    <script src="~/Areas/Dashboard/Content/js/hoverable-collapse.js"></script>
    <script src="~/Areas/Dashboard/Content/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>